<!-- home 视图 -->
<div class="home-container">

    <!-- <header class="header">
        <span class="nav-link home-title" path="#/job">全职招聘</span>
    </header> -->

    <main></main>

    <div class="footer">
        <a path="#/home" href="#/home" class="footer__item active nav-link"><i class="iconfont icon-guanli"></i>工作</a>
        <a path="#/search" href="#/search" class="footer__item nav-link"><i class="iconfont icon-file"></i>简历</a>
        <a path="#/profile" href="#/profile" class="footer__item nav-link"><i class="iconfont icon-wo"></i>我的</a>
    </div>
</div>