<!-- home中职位视图 -->
<div>

    <!-- <div class="scroll-info--top scroll-info go-refresh">
        <i class="iconfont icon-arrowsdown"></i>
        <i class="iconfont icon-loading"></i>
        <span class="scroll-info__title">下拉去刷新</span>
    </div> -->
    <header class="list-header">
        <a href="#" class="header-logo">
            <img src="https://rimg.quanzhi.cn/images/logo.png">
        </a>
        <a href="javascript:;" class="header-city">
            <span>北京</span>
            <i class="iconfont icon-xiala"></i>
        </a>
        <a href="javascript:;" class="header-searchbox">
            <input type="text" placeholder="职位/公司名称/关键词" value="" readonly="readonly">
            <i class="iconfont icon-sousuo"></i>
        </a>
    </header>
    <div class="list-banner">
        <img src="https://rimg.quanzhi.cn/images/banner.jpg" />
    </div>


    <div class="job-content"></div>

    <div class="scroll-info--bottom scroll-info">
        <i class="iconfont icon-loading"></i>
        <span class="scroll-info__title">上拉加载更多</span>
    </div>



</div>