<div class="home-company__banner">
    <img src="https://rimg.quanzhi.cn/images/com/banner.jpg">
</div>
<div class="company-detail__general">
    <p class="company-logo">
        {{#if companyDetail.ComLogo}}
        <img src="{{companyDetail.ComLogo}}" class="company-general__logo">
        {{else if companyDetail.ComLogoFlag}}
        <span class="company-general__logo">
            {{companyDetail.ComLogoFlag}}
        </span>
        {{else }}
        <span class="company-general__logo">
            <span>全</span>
        </span>
        {{/if}}
    </p>
    <p class="company-detail__position">
        <span class="company-detail__positionName">{{companyDetail.ComBrandName}}</span>
    </p>
    <p class="company-detail__required">
        {{companyDetail.ComIndustryName}}
    </p>
    <p class="company-detail__required">
        {{companyDetail.ComNatureName}}({{companyDetail.ComSizeName}})
    </p>
</div>
<div class="company-detail__info">
    <h2 class="company-detail__comTitle">公司地址</h2>
    <div class="company-detail__common">
        <img class="common-icon" src="https://rcss.quanzhi.cn/images/addr.png">
        <span class="commom-font">{{companyDetail.ComAddress}}</span>
        <span class="iconfont icon-xiala"></span>
    </div>
</div>
<div class="company-detail__info">
    <h2 class="company-detail__comTitle">公司简介</h2>
    <dl class="company-detail__rules">
        <dd class="company-detail__rules">
            <ul>
                <li class="company-detail__rulesInfo">{{companyDetail.ComDescription}}</li>
            </ul>
        </dd>
    </dl>
</div>
<!-- <div class="company-general">
    <a class="company-general__con" href="../../company-detail.html">
        {{#if company.ComLogo}}
        <img src="{{company.ComLogo}}" class="company-general__logo">
        {{else if company.ComLogoFlag}}
        <span class="company-general__logo">
            <span>{{company.ComLogoFlag}}</span>
        </span>
        {{else }}
        <span class="company-general__logo">
            <span>全</span>
        </span>
        {{/if}}

        <span class="company-general__info">
            <span class="company-general__name">{{company.ComName}}</span>
            <span class="company-generalindustry">{{company.ComIndustryName}}</span>
            <span class="company-generalnatr">{{company.ComNatureName}}({{company.ComSizeName}})</span>
        </span>
        <span class="company-general__arrow">
            <i class="iconfont icon-xiala"></i>
        </span>
    </a>
</div>
<div class="company-detail__info">
    <h2 class="company-detail__comTitle">职位详情</h2>
    <div class="company-detail__rules">职位性质：{{companyDetail.companyTypeName}}</div>
    <div class="company-detail__rules">招聘人数：{{companyDetail.InviteNum}}人</div>
    <dl class="company-detail__rules">
        <dt>职位描述：</dt>
        <dd class="company-detail__rules">
            <ul>
                <li class="company-detail__rulesInfo">{{stringcompany}}</li>
            </ul>
        </dd>
    </dl>
</div>
<div class="company-detail__info">
    <h2 class="company-detail__comTitle">工作地点</h2>
    <div class="company-detail__common">
        <img class="common-icon" src="https://rcss.quanzhi.cn/images/addr.png">
        <span class="commom-font">{{company.ComBrand}}</span>
        <span class="iconfont icon-xiala"></span>
    </div>
</div>
<div class="company-detail__info">
    <h2 class="company-detail__comTitle">企业认证</h2>
    <div class="company-detail__common">
        <img class="common-icon" src="https://rcss.quanzhi.cn/images/companydetail/auth1.png">
        <span class="commom-font company-detail__address">该企业已上传营业执照并通过全职招聘网人工审核</span>
    </div>
    <div class="company-detail__common">
        <img class="common-icon" src="https://rcss.quanzhi.cn/images/companydetail/auth2.png">
        <span class="commom-font">该职位负责人已完成个人芝麻信用认证</span>
    </div>
</div>
<div class="company-detail__info">
    <h2 class="company-detail__comTitle">温馨提示</h2>
    <div class="company-detail__common">
        <img class="common-icon" src="https://rcss.quanzhi.cn/images/addr.png">
        <span class="commom-font">若用人单位存在提供虚假招聘信息，以担保或者其他任何名义收取财物（如办卡费、押金、培训费），扣押或以保管为名索要身份证、毕业证及其他证件等行为，都属于违法行为，请提高警惕。</span>
    </div>
</div>
<a href="javascript:;" class="com-publishcompany-link">我是企业，我也想在全职招聘网发布职位</a> -->