<div>
    <div class="home-company__banner">
        <img src="https://rimg.quanzhi.cn/images/com/banner.jpg">
    </div>
    <div class="company-detail__general">
        <p class="company-logo">
            {{#if companyDetail.ComLogoFlag}}
            <span class="company-general__logo">
                {{companyDetail.ComLogoFlag}}
            </span>
            {{else }}
            <span class="company-general__logo">
                <span>全</span>
            </span>
            {{/if}}
        </p>
        <p class="company-detail__position">
            <span class="company-detail__positionName">{{companyDetail.ComBrandName}}</span>
        </p>
        <p class="company-detail__required">
            {{companyDetail.ComIndustryName}}
        </p>
        <p class="company-detail__required">
            {{companyDetail.ComNatureName}}({{companyDetail.ComSizeName}})
        </p>
    </div>
    <div class="company-detail__info">
        <h2 class="company-detail__comTitle">公司地址</h2>
        <div class="company-detail__common company-detail__com">
            <img class="common-icon" src="https://rcss.quanzhi.cn/images/addr.png">
            <span class="commom-font">{{companyDetail.ComAddress}}</span>
            <span class="iconfont icon-xiala"></span>
        </div>
    </div>
    <div class="company-detail__info">
        <h2 class="company-detail__comTitle">公司简介</h2>
        <div class="company-detail__rules">
            <p class="company-detail__rulesCon">
                {{companyDetail.ComDescription}}
            </p>
            <a href="javascript:;" class="company-detail__toggle">展开<i class="iconfont icon-xiala"></i></a>
        </div>
    </div>
    <div class="company-detail__info">
        <h2 class="company-detail__comTitle">在招岗位</h2>
        <ul class="company-detail__common">
            {{#each jobDetail}}
            <li class="company-detail__job">
                <a href="#">
                    <p class="company-job-name">
                        <span class="company-job-post">{{this.JobTitle}}</span>
                        <span class="company-job-time">{{this.FreshTimeShow}}</span>
                    </p>
                    <p class="company-job-info">
                        <span class="company-job-money">￥{{this.SalaryShow}}</span>
                        <span>{{this.WorkPlaceName}}</span>
                        <span>{{this.WorkExperenceName}}</span>
                    </p>
                </a>
            </li>
            {{/each}}
        </ul>

    </div>
    <!-- <div class="scroll-info--bottom scroll-info">
        <i class="iconfont icon-loading"></i>
        <span class="scroll-info__title">上拉加载更多</span>
    </div> -->
</div>