
<header class="resume-title">
    <h1>个人中心</h1>
</header>


<div class="loginstate">
    <a href="#">
        <i  class="iconfont icon-jiantouarrowhead7 yj"></i>
        <span class="logo">
            <img src="https://rimg.quanzhi.cn/images/user.png">
        </span>
        <span class="sec">
            <span class="ct">
                <span class="p"></span>
                <span class="p">17320027526</span>
            </span>
            <span class="reg-link">手机/密码修改</span>
        </span>
    </a>
</div>
<div class="section">
    <a >
     <i  class="iconfont icon-jiantouarrowhead7 yj"></i>
        <span class="label">
            <i class="icon iconfont icon-icon-form"></i>求职状态</span>
            <input id="trigger1" type="text" placeholder="请选择">
    </a>
</div>

<div class="section">
        <a >
         <i  class="iconfont icon-jiantouarrowhead7 yj"></i>
            <span class="label">
                <i class="icon iconfont icon-iconhome"></i>家的位置</span>
        </a>
  </div>
  <div class="section">
        <a >
         <i  class="iconfont icon-jiantouarrowhead7 yj"></i>
            <span class="label">
                <i class="icon iconfont icon-shenqingjilu"></i>申请记录</span>
        </a>
        <a >
                <i  class="iconfont icon-jiantouarrowhead7 yj"></i>
                   <span class="label">
                       <i class="icon iconfont icon-icon_star"></i>我的收藏</span>
               </a>
  </div>
  <div class="section">
        <a >
         <i  class="iconfont icon-jiantouarrowhead7 yj"></i>
            <span class="label">
                <i class="icon iconfont icon-weixin"></i>全职招聘网求职找工作</span>
        </a>
        <a >
                <i  class="iconfont icon-jiantouarrowhead7 yj"></i>
                   <span class="label">
                       <i class="icon iconfont icon-communityfill"></i>全职社区</span>
               </a>
  </div>