.common__header {
    line-height: 1.066667rem;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 1px solid #ebebeb;
}

.go-back {
    font-size: .533333rem;
    font-weight: bold;
    color: #b3b3b3;
    padding-left: .266667rem;
}

.common__title {
    flex-grow: 1;
    text-align: center;
    font-size: .426667rem;
    font-weight: 500;
    color: #333333;
}

.common__user {
    padding-right: .266667rem;
}

.common__user img {
    vertical-align: middle;
    width: .72rem;
    height: .72rem;
    border-radius: 100%;
}