// 旋转的到右箭头
.yj{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    position: absolute;
    right: .266667rem;
    top: 50%;
    font-size: .426667rem;
    line-height: .533333rem;
    margin-top:-0.266667rem;
    color: #b3b3b3;
    font-family: "layicon";
}

input, textarea, select {
    padding: 0;
    outline: none;
    border: 0;
}
// 个人中心样式
.loginstate {
    background: #ffffff;
    margin: .266667rem 0 0;
}
.loginstate a {
    position: relative;
    display: flex;
    padding: .32rem .746667rem .32rem .266667rem;
}
.loginstate .logo img {
    width: 1.6rem;
    height: 1.6rem;
    flex: 7;
    border-radius: 100%;
}
.loginstate .sec {
    padding-left:.266667rem;
    display: flex;
    flex: 32;
}
.loginstate .ct {
    display: flex;
    flex: 5;
    line-height: .64rem;
    color: #333333;
    align-items: center;
}
.loginstate .reg-link {
    text-align: right;
    display: block;
    flex: 3;
    padding: .52rem 0;
    line-height:.64rem;
    color: #b3b3b3;
}
.section {
    background: #ffffff;
    margin: .266667rem 0 0;
    padding-left: .266667rem;
}
.section a {
    position: relative;
    display: flex;
    padding-right:.746667rem;
    line-height: 1.333333rem;
    color: #b3b3b3;
}
.section .label {
    display: flex;
    flex: 2;
    padding-left: .8rem;
    color: #333333;
}
.label i{
    position: absolute;
    left: 0;
    color: #19b497;
    font-size:.426667rem;
}
.section input {
    color: #b3b3b3;
    text-align: right;
    flex: 4;
 
}
